.gradle
build/
logs/
libs/
workspace/
!**/src/main/**/build/
!**/src/test/**/build/
configuration.json

### IntelliJ IDEA ###
/.idea/shelf/
/.idea/workspace.xml
/.idea/httpRequests/
/.idea/dataSources/
/.idea/inspectionProfiles/
/.idea/dataSources.local.xml
/.idea/jarRepositories.xml
/.idea/uiDesigner.xml
/.idea/modules.xml
/.idea/detekt.xml
/.idea/misc.xml
/.idea/vsc.xml
/.idea/discord.xml
/.idea/gradle.xml

*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
