.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #1e1e1e;
}

.tab-header-background {
    -fx-background-radius: 24px;
}

.tab-header-area {
    -fx-translate-y: 5;
    -fx-shape: "M 5 0 L 25 0 L 15 15 Z";
}

.tab-label {
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-rotate: 90;
}
