# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/inspectionProfiles/
/dataSources.local.xml
/jarRepositories.xml
/uiDesigner.xml
/modules.xml
/detekt.xml
/vcs.xml
/discord.xml
/gradle.xml
